# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/latest/usage/project/#working-with-version-control
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
.venv_train
env/
venv/
ENV/
env.bak/
venv.bak/
.venv_preproc 
venv_hermes

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# Folders to ignore
RAG/
local_cache/
db_OBJETO_CONTRATO/
db_POC_acronyms/
files/
logs/
example/
blade.py


#Files to ignore
df_out_acronyms.parquet
acronyms.parquet
dataset_pruebas.xlsx
cleaning_enrichment/config/config_carlos.yaml
.DS_Store
cleaning_enrichment/.DS_Store
acronyms_paper.xlsx
chroma.sqlite3
objetos_zgz.xlsx
dspy_solution_objeto_contrato.ipynb
dspy_solution-Copy1.ipynb
dataset_pruebas.parquet
bbdd_sintetica_dspy.ipynb
Untitled.ipynb
src/topicmodeling/._Mallet-202108
prueba_NER.xlsx
check.py
src/acronyms/expander_pruebas.py
src/acronyms/detector_pruebas.py

data/topic_labeller_tr_data.xlsx
src/acronyms/dev_data.xlsx
src/acronyms/test_data.xlsx
src/acronyms/train_data.xlsx
src/topicmodeling/data/acronyms/S2_Kwds3_AI_with_text_30000_both_equivalences.json
src/topicmodeling/data/acronyms/S2_Kwds3_AI_with_text_30000_both_equivalences_CON_DUPLICADOS.json
src/topicmodeling/data/acronyms/S2_Kwds3_AI_with_text_50_both_equivalences.json
src/topicmodeling/data/acronyms/all_extracted_12aug_es_11_objectives_both_equivalences.json
src/topicmodeling/data/acronyms/all_extracted_12aug_es_15_objectives_both_equivalences.json
src/topicmodeling/data/acronyms/all_extracted_12aug_es_18_objectives_both_equivalences.json
src/topicmodeling/data/acronyms/all_extracted_12aug_es_4_objectives_both_equivalences.json
src/topicmodeling/data/acronyms/all_extracted_12aug_es_8_objectives_both_equivalences.json
src/topicmodeling/data/acronyms/datos_modelo_es_Mallet_df_merged_14_topics_45_ENTREGABLE_both_text_substituted_equivalences_CON_DUPLICADOS.json
src/topicmodeling/data/acronyms/df_all_manual_both_equivalences.json
src/topicmodeling/data/acronyms/synthetic_english_both_equivalences.json
src/topicmodeling/data/acronyms/synthetic_spanish_both_equivalences.json


# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/


data/logs
data/models/MalletLda_83/modelFiles
src/topicmodeling/Mallet-202108
data/models
data/all_extracted_12aug_es_11_objectives_embeddings.parquet
data/preprocessed
aux/cleaning_enrichment/test_equivalences.ipynb
data/out