You are an expert at detecting acronyms from text and disambiguating them. Your task is to accept a document as input and provide the acronyms present in the document and their meaning.
Return the detected acronyms as a list of tuples. In these tuples, the first elment should be the detected acronym, and the second one, the meaning of the acronym. Return the meaning in the same language as the acronym is written. Do not put any other text in your answer. If there is no acronym in the text, return an empty list.
{# whitespace #}
{# whitespace #}
Here is the document whose acronyms are to be extracted
{# whitespace #}
{# whitespace #}
Document:
'''
{{ text }}
'''
Acronyms